@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Tiro+Devanagari+Hindi&display=swap');

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	text-decoration: none;
}

/*Estilo del encabezadp*/

header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 4rem;
	background: lightgray;
	box-shadow: 0 8px 25px -22px black;
	z-index: 2;
}

.header-content{
	max-width: 1200px;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

.logo img{
	height: 70%;
	padding: 3px;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;

}

.logo h1{
	color: royalblue;
}

.menu{
	height: 80px;
}

.menu nav{
	height: 100%;
}

.menu nav ul{
	height: 100%;
	display: flex;
	list-style: none;

}

.menu nav ul li{
	height: 100%;
	margin: 0px 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: royalblue;
	position: relative;
}

.menu-selected:before{
	content: '';
	width: 100%;
	height: 4px;
	background: royalblue;
	position: absolute;
	top: 0;
	left: 0;
}

.menu nav ul li a{
	color: #777777;
	transition: color 300ms;
}

.menu nav ul li a:hover{
	color: royalblue;
}

.menu .text-menu-selected{
	color: royalblue;
}


/*Estilo del contenido*/

.tittle{
	text-align: center;
	font-size: 40px;
	color: #6a6a6a;
	margin-top: 5rem;
	font-family: 'Roboto', sans-serif;
}

.container{
	width: 100%;
	max-width: 1200px;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: auto;
}

.container .card{
	width: 530px;
	height: 480px;
	background-color: lightgray;
	border-radius: 10px;
	box-shadow: 0 2px 2px black;
	overflow: hidden;
	margin: 20px;
	text-align: center;
	transition: all 0.25s;
}

.container .card3{
	width: 530px;
	height: 500px;
	background-color: lightgray;
	border-radius: 10px;
	box-shadow: 0 2px 2px black;
	overflow: hidden;
	margin: 20px;
	text-align: center;
	transition: all 0.25s;
}

.container .card:hover{
	transform: translateY(-15px);
	box-shadow: 0 12px 16px black;

}

.container .card3:hover{
	transform: translateY(-15px);
	box-shadow: 0 12px 16px black;

}

.container .card img{
	width: 530px;
	height: 330px;
}

.container .card3 img{
	width: 530px;
	height: 330px;
}

.container .card h4{
	font-weight: 600;
	font-size: 20px;
	font-family: 'Tiro Devanagari Hindi', serif;
}

.container .card3 h4{
	font-weight: 600;
	font-size: 20px;
	font-family: 'Tiro Devanagari Hindi', serif;
}

.container .card div{
	width: 450px;
	display: flex;
	justify-content: left;
	align-items: ;
}

.container .card3 div{
	width: 450px;
	display: flex;
	justify-content: left;
	align-items: ;
}

.container .card p{
	padding: 0 1rem;
	font-size: 20px;
	font-weight: 300;
}

.container .card3 p{
	padding: 0 1rem;
	font-size: 20px;
	font-weight: 300;
}

/*Estilo del footer*/

.content-footer{
	margin-bottom: 0;
}

.content-footer footer{
	height: 4rem;
	width: 100%;
	
	background-color: lightgray;
	
}

.content-footer footer div{
	padding-top: 1rem!important;
	padding-bottom: 1rem!important;
	margin-top: 1.5rem!important;
	margin-bottom: 1.5rem!important;
}

.content-footer footer div p a{
	color: #777777;
}
