*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	text-decoration: none;
}

header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 4rem;
	background: lightgray;
	box-shadow: 0 8px 25px -22px black;
	z-index: 2;
}

.header-content{
	max-width: 1200px;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

.logo img{
	height: 70%;
	padding: 3px;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;

}

.logo h1{
	color: royalblue;
}

.menu{
	height: 80px;
}

.menu nav{
	height: 100%;
}

.menu nav ul{
	height: 100%;
	display: flex;
	list-style: none;

}

.menu nav ul li{
	height: 100%;
	margin: 0px 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: royalblue;
	position: relative;
}

.menu-selected:before{
	content: '';
	width: 100%;
	height: 4px;
	background: royalblue;
	position: absolute;
	top: 0;
	left: 0;
}

.menu nav ul li a{
	color: #777777;
	transition: color 300ms;
}

.menu nav ul li a:hover{
	color: royalblue;
}

.menu .text-menu-selected{
	color: royalblue;
}

#principal {
	border: solid 1px #cccccc;
	padding: 5px;
	margin: 0 auto;
	margin-top: 5rem;
	width: 70%;

	background-color: royalblue;
}

#principal img{
	padding: 5px;
	margin-top: 10px;
	margin-left: 5%;
}

fieldset{
	padding: 25px;
	width: 70%;
	margin-left: 15%;
	border-radius: 10px;
}

#principal .content1 #contact{
	padding: 20px;
	width: 35%;
	margin-left: 40%;
	border-radius: 10px;
	position: relative;
}

fieldset legend{
	background: ghostwhite;
	border-radius: 15px;
	padding: 5px;
	font-weight: bold;
	border: solid 1px #b5d5f8;
}
#basic-info{
	padding: 20px;
}

#basic_info ul{
	list-style: none;
}

footer{
	height: 4rem;
	width: 100%;
	
	background-color: lightgray;
}

footer div{
	padding-top: 1rem!important;
	padding-bottom: 1rem!important;
	margin-top: 1.5rem!important;
	margin-bottom: 1.5rem!important;
}

footer div p a{
	color: #777777;
}
